# Docker Hub credentials
DOCKERHUB_USERNAME=myusername
DOCKERHUB_PASSWORD=mypassword_or_PAT

# Docker socket GID (find with: stat -c '%g' /var/run/docker.sock)
DOCKER_GID=999

# HTTP endpoint to POST the updates to
NOTIFY_ENDPOINT=http://NodeRed-PRD:1880/diun-updates
